/**
* @name Your Name Anime Theme
* @author 
* @version 0.1
* @description https://github.com/Tainted06/Better-Discord-Themes#foreword
*/

@import url(https://puckzxz.github.io/NotAnotherAnimeTheme/css/scsl.css);

:root {
    --background-image: url(https://cdn.discordapp.com/attachments/673091319639441472/825819208075837460/wp5883956.jpg);
    --friends-icon: url(https://cdn.discordapp.com/attachments/673091319639441472/825820263950188555/discord-png-logo-blue-discord-logo-11562952349iwzz2zzubv_1.png);
    --friends-icon-position: center center;
    --friends-icon-zoom: 100%;
    --main-color: rgb(69, 67, 181);
    --main-transparency: rgba(1, 23, 36, 0.8);
    --unread-server-animation: rainbow;
    --hover-list-bg-color: rgba(0, 203, 218, 0.438);
    --border-lines-color: rgba(184, 43, 43, 0.1);
    --scroll-bar-color: rgba(195, 0, 255, 0.233);
    --font-size: 16px;
    --selected-text-voice-color: #f6f6f7;
    --channel-hover-text-color: rgba(0, 203, 218, 0.438);
    --unread-text-color: #dedcde;
    --user-popup-background: rgb(73, 37, 139);
    /*
    --columns: 2;
    --guildsize: 50;
    --guildgap: 3;
    --aligndms: 1;
    */
}